<header class="bg-white p-2">
    <nav class="flex flex-col">
        <ul class="flex justify-between mb-4">
            <li>
                <span class="h-full  bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-yellow-500
                    font-extrabold  text-4xl p-2  font-sans">JLchat
                </span>
                <button class="mx-4 h-9 w-9 rounded-full bg-slate-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="m-2 h-5 w-5 " viewBox="0 0 20 20" fill="currentColor">
                        <path class="text-slate-400" fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                </button>
                <input type="text" name="" id="" placeholder="Buscar en JLchat"
                        class="hidden mx-2 p-1 bg-slate-200 rounded-3xl">
            </li>
            <li class="mx-2 flex">
                <button class="mx-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </li>
        </ul>
        <ul class="flex justify-around">
            <li class="hover:text-emerald-400">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                    <path  d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                </svg>
            </li>
            <li class="hover:text-cyan-400">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
            </li>
            <li class=" hover:text-blue-400">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                </svg>
            </li>
        </ul>
    </nav>
</header>
<main class="w-full flex mt-5 p-2 justify-around ">
    <aside class=" hidden lg:inline-block h-full grow min-w-max max-w-xs  p-2 rounded-lg bg-white sticky top-5 ">
        <div class="flex items-center">
            <img src="./../assets/leo.jpg" alt="" class="rounded-full w-14 m-2">
            <h4 class="font-semibold">Jeancar Sanchez</h4>
        </div>
        <div class="flex items-center mt-3 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 m-2 text-blue-400" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
            </svg>
            <p class="mt-2 font-semibold">Amigos</p>
        </div>
    </aside>
    <section class="max-w-2xl mx-4">
        <div class="flex bg-white rounded-lg publicacion">
            <img  src="./../assets/user-1699635_640.png" alt="" class="h-14 w-14 mx-2 my-2 rounded-full bg-black">
            <button class="w-full mx-5 my-4 p-0 bg-slate-200 rounded-3xl text-xl text-slate-400" >¿Qué estas pensando?</button>
        </div>
        <div class=" w-full flex mt-3 p-2 bg-white rounded-lg  historia">
            <div class="h-52 w-28 mr-2 rounded-lg  bg-imagenLeo relative bg-no-repeat
                    bg-cover shadow-xl  cursor-auto transition duration-500 ease-in-out hover:scale-105 historia-yo">
                    <img class="rounded-full w-10 bg-black m-2" src="./../assets/user-1699635_640.png" alt="">
                    <h4 class="absolute bottom-4 text-sm text-slate-50 p-1 rounded-md left-3 backdrop-blur-sm bg-black/20">
                        Jeancar <br> Sanchez
                    </h4>
            </div>
        </div>
        <div class="bg-white  mt-3 p-2 rounded-lg publicaciones">
            <header class="flex justify-between">
                <div class="flex">
                    <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 m-2">
                    <p class="mt-2 font-semibold">Jeancar Sanchez</p>
                </div>
                <div class="m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-slate-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </header>
            <main class=" m-2 text-justify ">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos fugit repudiandae, odit maiores alias quidem amet tempore vitae aspernatur est ipsum molestias quis corporis voluptas accusamus eligendi eaque quasi ratione.</p>
                <div class="flex flex-row flex-wrap  m-0 mt-3 h-96">
                    <img class="object-cover" src="./../assets/equipo de muerte splinterlans.png" alt="">
                </div>
            </main>
            <footer class="m-2 mt-4">
                <div class="border-t-2 border-slate-300 py-2 flex justify-between">
                    <button class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                        </svg>
                        <p class="ml-1 text-sm">Me gusta</p>
                    </button>
                    <button class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                        </svg>
                        <p class="ml-1 text-sm">Comentar</p>
                    </button>
                    <button class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                        </svg>
                        <p class="ml-1 text-sm">Compartir</p>
                    </button>
                </div>
            </footer>
        </div>
        <div class="bg-white  mt-3 p-2 rounded-lg publicaciones">
            <header class="flex justify-between">
                <div class="flex">
                    <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 m-2">
                    <p class="mt-2 font-semibold">Jeancar Sanchez</p>
                </div>
                <div class="m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-slate-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </header>
            <main class=" m-2 text-justify ">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos fugit repudiandae, odit maiores alias quidem amet tempore vitae aspernatur est ipsum molestias quis corporis voluptas accusamus eligendi eaque quasi ratione.</p>
                <div class="flex flex-row flex-wrap  m-0 mt-3 h-96">
                    <img class="object-cover" src="./../assets/equipo de muerte splinterlans.png" alt="">
                </div>
            </main>
            <footer class="m-2 mt-4">
                <div class="border-t-2 border-slate-300 py-2 flex justify-between">
                    <button class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                        </svg>
                        <p class="ml-1 text-sm">Me gusta</p>
                    </button>
                    <button class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                        </svg>
                        <p class="ml-1 text-sm">Comentar</p>
                    </button>
                    <button class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                        </svg>
                        <p class="ml-1 text-sm">Compartir</p>
                    </button>
                </div>
            </footer>
        </div><div class="bg-white  mt-3 p-2 rounded-lg publicaciones">
            <header class="flex justify-between">
                <div class="flex">
                    <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 m-2">
                    <p class="mt-2 font-semibold">Jeancar Sanchez</p>
                </div>
                <div class="m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-slate-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </header>
            <main class=" m-2 text-justify ">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos fugit repudiandae, odit maiores alias quidem amet tempore vitae aspernatur est ipsum molestias quis corporis voluptas accusamus eligendi eaque quasi ratione.</p>
                <div class="flex flex-row flex-wrap  m-0 mt-3 h-96">
                    <img class="object-cover" src="./../assets/equipo de muerte splinterlans.png" alt="">
                </div>
            </main>
            <footer class="m-2 mt-4">
                <div class="border-t-2 border-slate-300 py-2 flex justify-between">
                    <button class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                        </svg>
                        <p class="ml-1 text-sm">Me gusta</p>
                    </button>
                    <button class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                        </svg>
                        <p class="ml-1 text-sm">Comentar</p>
                    </button>
                    <button class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                        </svg>
                        <p class="ml-1 text-sm">Compartir</p>
                    </button>
                </div>
            </footer>
        </div>
    </section>
    <aside class="hidden md:inline-block h-full grow min-w-max max-w-xs  p-2 rounded-lg bg-white sticky top-5">
        <div class="">
            <h4 class=" bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-yellow-500
                    text-2xl text-center font-sans font-extrabold mb-2 ">Contactos</h4>
            <div>
                <ul class="">
                    <li class="flex items-center hover:bg-slate-200 mt-2 p-1 cursor-pointer">
                        <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 m-2">
                        <p class="mt-2 font-bold text-black whitespace-nowrap overflow-hidden text-ellipsis">Jeancar Sanchez</p>
                    </li>
                    <li class="flex items-center hover:bg-slate-200 mt-2 cursor-pointer">
                        <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 m-2">
                        <p class="mt-2 font-bold text-black whitespace-nowrap overflow-hidden text-ellipsis">Jeancar Sanchez</p>
                    </li>
                    <li class="flex items-center hover:bg-slate-200 mt-2 cursor-pointer">
                        <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 m-2">
                        <p class="mt-2 font-bold text-black whitespace-nowrap overflow-hidden text-ellipsis">Jeancar Sanchez</p>
                    </li>
                    <li class="flex items-center hover:bg-slate-200 mt-2 cursor-pointer">
                        <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 m-2">
                        <p class="mt-2 font-bold text-black whitespace-nowrap overflow-hidden text-ellipsis">Jeancar Sanchez</p>
                    </li>
                    <li class="flex items-center hover:bg-blue-300 mt-2 cursor-pointer">
                        <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 m-2">
                        <p class="mt-2 font-bold text-black whitespace-nowrap overflow-hidden text-ellipsis">Jeancar Sanchez</p>
                    </li>
                    <li class="flex items-center hover:bg-orange-100 mt-2 cursor-pointer">
                        <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 m-2">
                        <p class="mt-2 font-bold text-black whitespace-nowrap overflow-hidden text-ellipsis">Jeancar Sanchez</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fixed bottom-0 right-3 bg-white rounded-t-lg px-3 w-72 mr-1 shadow-black shadow-sm border-2 border-slate-200 chat ">
            <header class="flex items-center justify-between px-1 pt-2 pb-1 border-b-2 border-slate-300">
                <div class="flex items-center cursor-pointer">
                    <img src="./../assets/leo.jpg" alt="" class="rounded-full w-10 ">
                    <p class="font-bold text-black whitespace-nowrap
                        overflow-hidden text-ellipsis ml-1 ">Jeancar Sanchez</p>
                </div>
                <div class="cursor-pointer px-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-slate-600 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </header>
            <main class="pt-2 w-full h-64 overflow-y-scroll ">
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem incidunt quaerat facilis doloremque consectetur! Eveniet ab perspiciatis dignissimos recusandae eaque natus officia blanditiis dolore at, modi officiis laborum accusantium facere.</p>
                <img src="./../assets/user-1699635_640.png" alt="">
            </main>
            <footer class="flex justify-between items-center border-t-2 border-slate-300 pt-1 ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-1 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <input type="text" name="mensaje" id="mensaje"placeholder="Aa"
                        class="bg-slate-200 rounded-lg p-1 border-0 outline-none w">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send m-1 text-orange-600 cursor-pointer" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                </svg>
            </footer>

        </div>
    </aside>
</main>
